.Letters {
  position: relative;
  width: 350px;
  height: 350px;
}

.Letters .Letter:nth-child(1) {
  top: 123px;
  left: 125px;
}

.Letters .Letter:nth-child(2) {
  top: 10px;
  left: 125px;
}

.Letters .Letter:nth-child(3) {
  top: 65px;
  left: 20px;
}

.Letters .Letter:nth-child(4) {
  top: 180px;
  left: 20px;
}

.Letters .Letter:nth-child(5) {
  top: 235px;
  left: 125px;
}

.Letters .Letter:nth-child(6) {
  top: 180px;
  left: 230px;
}

.Letters .Letter:nth-child(7) {
  top: 65px;
  left: 230px;
}

.Letters-randomize {
  top: 10px;
  left: 10px;
  position: relative;
}
